<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <strong>Reservations</strong>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/tutors" color="light">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon> Tutors
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/student" color="light">
        <ion-icon name="people-outline" slot="start"></ion-icon> Users
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-toolbar>
  <ion-item lines="none">
    <ion-label>Filter by user:</ion-label>
    <ion-select (ionChange)="filterByStudent($event.detail.value)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option *ngFor="let student of students" [value]="student.id">
        {{ student.first_name }} {{ student.last_name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-spinner *ngIf="isLoading" name="crescent" class="ion-align-self-center ion-margin"></ion-spinner>

  <ion-text *ngIf="filteredReservations.length === 0">
    <p>No reservations found for this student.</p>
  </ion-text>

  <ion-card *ngIf="filteredReservations && filteredReservations.length > 0">
    <ion-card-header color="warning">
      <ion-card-title>Reservations List</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let reservation of filteredReservations">
          <ion-label>
            <h2>{{ reservation.student.first_name }} {{ reservation.student.last_name }}</h2>
            <p><strong>Tutor:</strong> {{ reservation.tutor.first_name }} {{ reservation.tutor.last_name }}</p>
            <p><strong>Date:</strong> {{ reservation.date }}</p>
            <p><strong>Time:</strong> {{ reservation.start_time }} - {{ reservation.end_time }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>